.history-list {
  padding: 0;
  margin: 0;
  width: 300px;
  border: 1px solid #ddd;
  li {
    list-style: none;
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border: none;
    }
  }
}
