.stat-wrapper {
  .hor-title,
  .slot,
  .hits {
    border-bottom: 1px solid #ddd;
    .ver-title {
      border-right: 1px solid #ddd;
      margin: 0;
    }
  }
  .cold {
    background: #d9edf7;
  }
  .hot {
    background: #f2dede;
  }
  th {
    padding: 5px 10px;
  }
  .stat-list-item {
    padding: 5px 10px;
    color: white;
    &.gray {
      background-color: gray;
    }
    &.green {
      background-color: green;
    }
    &.red {
      background-color: red;
    }
    &.black {
      background-color: black;
    }
  }
  .hits {
    .stat-list-item {
      color: gray;
    }
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}
