.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;

  color: white;
  &:hover {
    color: gray;
  }
  &.green {
    background-color: green;
  }
  &.red {
    background-color: red;
  }
  &.black {
    background-color: black;
  }
}
